.facility-info {
  padding: 1rem;

  &__title {
    font-size: $font-size-large;
    margin-bottom: 1rem;
  }
  &__facility-list {
    padding: 0.5rem;
    background-color: $color-white;
    border: 2px solid $color-light-gray;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &__update-btn-container {
    padding: 1rem 0;
  }

  &__update-btn {
    font-size: $font-size-default;
    font-weight: 700;
    line-height: $font-size-default;
    border: 2px solid $color-red;
    background-color: $color-red;
    border-radius: $border-radius-rectangle;
    color: $color-white;
    padding: 0.5em 1em;
    cursor: pointer;

    &:hover {
      background-color: $color-light-red;
      border-color: $color-light-red;
    }
  }
}

.facility-item {
  min-width: 10rem;
  padding: 1rem;
}
