.level-info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @include mq($bp-large-desktop) {
    flex-direction: row;
  }
}
.level-info {
  padding: 1rem;
  &__title {
    font-size: $font-size-large;
    margin-bottom: 1rem;
  }
  &__add-level-container {
    display: flex;
    align-items: stretch;
    max-width: calc(468px - 2rem);
    margin-bottom: 1rem;
  }
  &__level-color {
    width: 3rem;
    background-color: brown;
    border: 1px solid $color-gray;
    margin-right: 0.5rem;
  }
  &__level-color-name-input {
    display: block;
    min-width: 0;
    flex: 1;
    margin: 0 0.5rem;
    border: 2px solid $color-light-gray;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;

    &::placeholder {
      font-weight: 400;
    }
  }
  &__level-name-input {
    display: block;
    min-width: 0;
    flex: 1;
    margin: 0 0.5rem;
    border: 2px solid $color-light-gray;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;

    &::placeholder {
      font-weight: 400;
    }
  }
  &__add-level-btn {
    margin-left: 0.5rem;
    width: 3rem;
    height: 3rem;
    background-color: $color-light-blue;
    min-width: 3rem;

    &:hover {
      background-color: $color-blue;
    }

    &-icon {
      font-size: 1.2rem;
      color: $color-white;
    }
  }
  &__description {
    text-align: start;
    margin-bottom: 1rem;
    color: $color-light-black;
  }
  &__level-list {
    background-color: $color-white;
    border: 2px solid $color-light-gray;
    padding: 0 1rem;
    width: calc(468px - 2rem);
  }

  // color picker 라이브러리 버튼 커스텀
  &[data-level-info] {
    [data-add-container] {
      .pcr-button {
        width: 3rem;
        height: 3rem;
      }
    }
  }
}
.empty-level-item {
  text-align: center;
  color: $color-gray;
  font-size: 1rem;
  font-weight: 700;
  padding: 4rem 0;
}
.level-item {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $color-light-gray;
  &:last-child {
    border: none;
  }

  &__level {
    width: 5rem;
    margin-right: 0.5rem;
  }
  &__color-container {
    width: 8rem;
    display: flex;
    align-items: center;
  }
  &__color {
    margin-right: 0.5rem;
    min-width: 2rem;
    min-height: 2rem;
    background-color: blueviolet;
  }
  &__level-name-container {
    flex: 1;
    text-align: center;
    margin-right: 0.5rem;
  }
  &__delete-btn {
    width: 1.5rem;
    height: 1.5rem;
    opacity: 0.5;
    transition: opacity 200ms ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &-icon {
      font-size: 1rem;
      color: $color-light-red;
      pointer-events: none;
    }

    &:hover {
      opacity: 1;
    }
  }
  &__btn-container {
    margin-left: 1rem;
  }
  &__edit-btn {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
    opacity: 0.7;
    transition: opacity 200ms ease;

    &-icon {
      font-size: 1.2rem;
      color: $color-light-blue;
      pointer-events: none;
    }

    &:hover {
      opacity: 1;
    }
  }
  // &__delete-btn {
  //   width: 2rem;
  //   height: 2rem;
  //   opacity: 0.5;
  //   transition: opacity 200ms ease;

  //   &-icon {
  //     font-size: 1.2rem;
  //     color: $color-light-red;
  //     pointer-events: none;
  //   }

  //   &:hover {
  //     opacity: 1;
  //   }
  // }

  &__confirm-btn {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
    opacity: 0.7;
    transition: opacity 200ms ease;

    &-icon {
      font-size: 1.2rem;
      color: $color-green;
      pointer-events: none;
    }

    &:hover {
      opacity: 1;
    }
  }

  &__cancel-btn {
    width: 1.5rem;
    height: 1.5rem;
    opacity: 0.7;
    transition: opacity 200ms ease;

    &-icon {
      font-size: 1rem;
      color: $color-red;
      pointer-events: none;
    }

    &:hover {
      opacity: 1;
    }
  }
}
