.main {
  padding-top: 3rem;
  width: 100%;
  max-width: calc(100% - 200px);
  margin-left: auto;
  background-color: $color-white-smoke;
  transition: max-width 300ms ease;

  &.hide {
    max-width: 100%;
  }

  &--login {
    padding-top: 0;
    max-width: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
