.main {
  padding-top: 3rem;
  width: 100%;
  max-width: calc(100% - 200px);
  margin-left: auto;
  height: 100vh;
  background-color: $color-white-smoke;
  transition: max-width 300ms ease;

  &.hide {
    max-width: 100%;
  }
}
