.social-info {
  border: 1px solid $color-light-black;
  background-color: $color-white;
  flex: 1;
  margin: 0.5rem;

  &__title {
    font-size: $font-size-medium;
    font-weight: 700;
    padding: 1rem;
    border-bottom: 1px solid $color-light-black;
  }
  &__list {
    padding: 1rem;
  }
}

.social-info-item {
  display: flex;
  align-items: center;
  padding: 0.5rem 0 1rem 0;

  &__title {
    min-width: 6rem;
    font-size: 1rem;
  }
  &__url-input {
    border: 2px solid #cdcdcd;
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    width: 100%;

    &::placeholder {
      font-weight: 400;
    }
  }
}
