.working-time-info {
  border: 1px solid $color-light-black;
  background-color: $color-white;
  flex: 1;
  margin: 0.5rem;

  &__title-container {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid $color-light-black;
  }
  &__title {
    font-size: $font-size-medium;
    font-weight: 700;
  }
  &__update-btn {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 700;
    background-color: $color-red;
    border-radius: 4px;
    color: $color-white;
    padding: 0.5em 1em;
    cursor: pointer;

    &:hover {
      background-color: $color-light-red;
    }
  }
  &__list {
    padding: 1rem;
  }
}

.working-time-info-item {
  display: flex;
  align-items: center;
  padding: 0.5rem 0 1rem 0;

  &__title {
    min-width: 5rem;
  }

  &__time-input {
    border: 2px solid $color-light-gray;
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    min-width: 300px;
    width: 100%;

    &::placeholder {
      font-weight: 400;
    }
  }
  &__notice-textarea {
    border: 2px solid $color-light-gray;
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    width: 100%;
    resize: none;

    &::placeholder {
      font-weight: 400;
    }
  }
}
