@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700;900&display=swap');

* {
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
body {
  font-family: 'Noto Sans KR', sans-serif;
  word-break: break-all;
  overflow: auto;
  min-height: 100vh;
}
main {
  min-height: 100vh;
}
button {
  font-family: 'Noto Sans KR', sans-serif;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.flex-start-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex-center-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-end-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
