// Breakpoint
$bp-tablet: 768px;
$bp-desktop: 992px;
$bp-large-desktop: 1200px;
$bp-larger-desktop: 1400px;

// Color
$color-white: #ffffff;
$color-white-smoke: #f5f5f5;
$color-black: #000000;
$color-light-black: #333333;
$color-transparent-black: #00000050;
$color-gray: #808080;
$color-blue: #0077ed;
$color-light-blue: #006edb;
$color-red: #fa243c;
$color-light-red: #fb3a50;
$color-light-gray: #cdcdcd;
$color-sidebar-background: #222a38;
$color-sidebar-active: #0d131e;
$color-sidebar-text: #7a889c;

// Border Radius
$border-radius-rectangle: 4px;
$border-radius-round: 16px;

// Font Size
$font-size-larger: 1.7rem;
$font-size-large: 1.5rem;
$font-size-medium: 1.2rem;
$font-size-default: 1rem;
$font-size-small: 0.8rem;
$font-size-smaller: 0.5rem;

// Animation
$animation-duration: 300ms;
