<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Climb:Mate 관리자 - 배너 이미지 관리</title>
    <link rel="shortcut icon" href="assets/icon/logo/favicon.ico" type="image/ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  </head>
  <body>
    <header class="header">
      <div class="flex-center-container">
        <a href="#" class="header__logo">Climb:Mate 관리</a>
        <button class="header__menu-toggle-btn"><i class="fas fa-bars"></i></button>
      </div>
      <button class="header__admin-menu-btn">
        <span class="header__admin-name">사과 클라이밍</span
        ><i class="fas fa-chevron-left header__admin-menu-btn-icon"></i>
        <nav class="admin-navigation">
          <ul class="admin-navigation__list">
            <li class="admin-navigation__item">로그아웃</li>
          </ul>
        </nav>
      </button>
    </header>
    <nav class="sidebar">
      <ul class="sidebar__depth-1-list">
        <li class="sidebar__depth-1-item">
          <a href="#" class="sidebar__depth-1-link">대시보드</a>
        </li>
        <li class="sidebar__depth-1-item">
          <button class="sidebar__depth-1-toggle-btn">센터 정보 관리</button>
          <ul class="sidebar__depth-2-list">
            <li class="sidebar__depth-2-item">
              <a href="#" class="sidebar__depth-2-link">공지사항</a>
            </li>
            <li class="sidebar__depth-2-item">
              <a href="#" class="sidebar__depth-2-link">기본 정보</a>
            </li>
            <li class="sidebar__depth-2-item">
              <a href="#" class="sidebar__depth-2-link">시설 및 가격</a>
            </li>
            <li class="sidebar__depth-2-item">
              <a href="#" class="sidebar__depth-2-link">배너 사진</a>
            </li>
            <li class="sidebar__depth-2-item">
              <a href="#" class="sidebar__depth-2-link">세팅 사진</a>
            </li>
          </ul>
        </li>
        <li class="sidebar__depth-1-item">
          <button class="sidebar__depth-1-toggle-btn">고객 관리</button>
          <ul class="sidebar__depth-2-list">
            <li class="sidebar__depth-2-item">
              <a href="#" class="sidebar__depth-2-link">후기 게시판</a>
            </li>
            <li class="sidebar__depth-2-item">
              <a href="#" class="sidebar__depth-2-link">영상 게시판</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <main class="main">메인</main>
  </body>
</html>
