<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Climb:Mate 관리자 - 시설 및 도구</title>
    <link rel="shortcut icon" href="assets/icon/logo/favicon.ico" type="image/ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  </head>
  <body>
    <header class="header" data-header>
      <div class="flex-start-container header__logo-container">
        <button class="header__menu-toggle-btn" data-sidebar-toggle-btn><i class="fas fa-bars"></i></button>
        <a href="#" class="header__logo">Climb:Mate 관리</a>
      </div>
      <button class="header__admin-menu-btn" data-admin-menu-btn>
        <span class="header__admin-name">사과 클라이밍</span
        ><i class="fas fa-chevron-left header__admin-menu-btn-icon"></i>
        <nav class="admin-navigation">
          <ul class="admin-navigation__list" data-admin-menu-list>
            <li class="admin-navigation__item" data-admin-menu="logOut">로그아웃</li>
          </ul>
        </nav>
      </button>
    </header>
    <nav class="sidebar" data-sidebar>
      <ul class="sidebar__depth-1-list" data-menu-list>
        <li class="sidebar__depth-1-item" data-menu="dashboard">
          <a href="#" class="sidebar__depth-1-link">대시보드</a>
        </li>
        <li class="sidebar__depth-1-item" data-toggle-menu="centerInfo">
          <button class="sidebar__depth-1-toggle-btn">센터 정보 관리</button>
          <ul class="sidebar__depth-2-list">
            <li class="sidebar__depth-2-item" data-menu="notice">
              <a href="#" class="sidebar__depth-2-link">공지사항</a>
            </li>
            <li class="sidebar__depth-2-item" data-menu="baseInfo">
              <a href="#" class="sidebar__depth-2-link">기본 정보</a>
            </li>
            <li class="sidebar__depth-2-item" data-menu="detailInfo">
              <a href="#" class="sidebar__depth-2-link">시설 및 도구</a>
            </li>
            <li class="sidebar__depth-2-item" data-menu="price">
              <a href="#" class="sidebar__depth-2-link">가격 정보</a>
            </li>
            <li class="sidebar__depth-2-item" data-menu="banner">
              <a href="#" class="sidebar__depth-2-link">배너 사진</a>
            </li>
            <li class="sidebar__depth-2-item" data-menu="setting">
              <a href="#" class="sidebar__depth-2-link">세팅 사진</a>
            </li>
          </ul>
        </li>
        <li class="sidebar__depth-1-item" data-toggle-menu="care">
          <button class="sidebar__depth-1-toggle-btn">고객 관리</button>
          <ul class="sidebar__depth-2-list">
            <li class="sidebar__depth-2-item" data-menu="review">
              <a href="#" class="sidebar__depth-2-link">후기 게시판</a>
            </li>
            <li class="sidebar__depth-2-item" data-menu="video">
              <a href="#" class="sidebar__depth-2-link">영상 게시판</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <main class="main">
      <h1 class="visually-hidden">시설 및 도구</h1>
      <!-- 체크박스 -->
      <!-- <label class="checkbox">
        <input class="checkbox__input" type="checkbox" checked />
        <span class="checkbox__check-mark"></span>
        <span class="checkbox__label">체크박스</span>
      </label>
      <label class="checkbox">
        <input class="checkbox__input" type="checkbox" checked />
        <span class="checkbox__check-mark"></span>
        <span class="checkbox__label">체크박스</span>
      </label> -->
      <!-- 라디오 버튼 -->
      <!-- <label class="radio">
        <input class="radio__input" type="radio" name="sample" checked />
        <div class="radio__check-mark"></div>
        <span class="radio__label">라디오 버튼</span>
      </label>
      <label class="radio">
        <input class="radio__input" type="radio" name="sample" />
        <div class="radio__check-mark"></div>
        <span class="radio__label">라디오 버튼</span>
      </label> -->
      <article class="facility-info">
        <h2 class="facility-info__title">시설</h2>
        <ul class="facility-info__facility-list">
          <li class="facility-item" data-type="shower-room">
            <label class="checkbox">
              <input class="checkbox__input" type="checkbox" />
              <span class="checkbox__check-mark"></span>
              <span class="checkbox__label">샤워실</span>
            </label>
          </li>
          <li class="facility-item" data-type="fitting-room">
            <label class="checkbox">
              <input class="checkbox__input" type="checkbox" />
              <span class="checkbox__check-mark"></span>
              <span class="checkbox__label">탈의실</span>
            </label>
          </li>
          <li class="facility-item" data-type="washroom">
            <label class="checkbox">
              <input class="checkbox__input" type="checkbox" />
              <span class="checkbox__check-mark"></span>
              <span class="checkbox__label">세족실</span>
            </label>
          </li>
          <li class="facility-item" data-type="restroom">
            <label class="checkbox">
              <input class="checkbox__input" type="checkbox" />
              <span class="checkbox__check-mark"></span>
              <span class="checkbox__label">휴게실</span>
            </label>
          </li>
          <li class="facility-item" data-type="parking-lot">
            <label class="checkbox">
              <input class="checkbox__input" type="checkbox" />
              <span class="checkbox__check-mark"></span>
              <span class="checkbox__label">주차장</span>
            </label>
          </li>
          <li class="facility-item" data-type="locker">
            <label class="checkbox">
              <input class="checkbox__input" type="checkbox" />
              <span class="checkbox__check-mark"></span>
              <span class="checkbox__label">락커</span>
            </label>
          </li>
          <li class="facility-item" data-type="towel">
            <label class="checkbox">
              <input class="checkbox__input" type="checkbox" />
              <span class="checkbox__check-mark"></span>
              <span class="checkbox__label">수건</span>
            </label>
          </li>
          <li class="facility-item" data-type="lead-wall">
            <label class="checkbox">
              <input class="checkbox__input" type="checkbox" />
              <span class="checkbox__check-mark"></span>
              <span class="checkbox__label">리드 연습</span>
            </label>
          </li>
        </ul>
      </article>

      <article class="tool-info">
        <h2 class="tool-info__title">도구</h2>
        <ul class="tool-info__tool-list">
          <li class="tool-item" data-type="health">
            <label class="checkbox">
              <input class="checkbox__input" type="checkbox" />
              <span class="checkbox__check-mark"></span>
              <span class="checkbox__label">헬스 도구</span>
            </label>
          </li>
          <li class="facility-item" data-type="training-board">
            <label class="checkbox">
              <input class="checkbox__input" type="checkbox" />
              <span class="checkbox__check-mark"></span>
              <span class="checkbox__label">트레이닝 보드</span>
            </label>
          </li>
          <li class="facility-item" data-type="moon-board">
            <label class="checkbox">
              <input class="checkbox__input" type="checkbox" />
              <span class="checkbox__check-mark"></span>
              <span class="checkbox__label">문 보드</span>
            </label>
          </li>
          <li class="facility-item" data-type="killter-board">
            <label class="checkbox">
              <input class="checkbox__input" type="checkbox" />
              <span class="checkbox__check-mark"></span>
              <span class="checkbox__label">킬터 보드</span>
            </label>
          </li>
        </ul>
        <div class="tool-info__health-wrapper">
          <h3 class="tool-info__sub-title">헬스 도구 설명</h3>
          <textarea
            class="tool-info__health-description-text-area"
            cols="30"
            rows="5"
            placeholder="헬스 도구에 대해서 설명해주세요"
          ></textarea>
        </div>
      </article>

      <div class="flex-center-container update-btn-container">
        <button class="update-btn" data-update-btn>시설 및 도구 수정</button>
      </div>

      <div class="notification" data-notification></div>
    </main>
  </body>
</html>
