<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Climb:Mate 관리자 - 난이도 정보</title>
    <link rel="shortcut icon" href="assets/icon/logo/favicon.ico" type="image/ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  </head>
  <body>
    <header class="header" data-header>
      <div class="flex-start-container header__logo-container">
        <button class="header__menu-toggle-btn" data-sidebar-toggle-btn><i class="fas fa-bars"></i></button>
        <a href="/login" class="header__logo">Climb:Mate 관리</a>
      </div>
      <button class="header__admin-menu-btn" data-admin-menu-btn>
        <span class="header__admin-name" data-center-name></span
        ><i class="fas fa-chevron-left header__admin-menu-btn-icon"></i>
        <nav class="admin-navigation">
          <ul class="admin-navigation__list" data-admin-menu-list>
            <li class="admin-navigation__item" data-admin-menu="logOut">로그아웃</li>
          </ul>
        </nav>
      </button>
    </header>
    <nav class="sidebar" data-sidebar>
      <ul class="sidebar__depth-1-list" data-menu-list>
        <li class="sidebar__depth-1-item" data-menu="detail">
          <a href="/detail" target="_blank" class="sidebar__depth-1-link" data-detail-link>내 클라이밍장 바로가기</a>
        </li>
        <li class="sidebar__depth-1-item" data-toggle-menu="centerInfo">
          <button class="sidebar__depth-1-toggle-btn">센터 정보 관리</button>
          <ul class="sidebar__depth-2-list">
            <!-- <li class="sidebar__depth-2-item" data-menu="notice">
              <a href="/notice.html" class="sidebar__depth-2-link">공지사항</a>
            </li> -->
            <li class="sidebar__depth-2-item" data-menu="baseInfo">
              <a href="/baseInfo" class="sidebar__depth-2-link">기본 정보</a>
            </li>
            <li class="sidebar__depth-2-item" data-menu="detailInfo">
              <a href="/detailInfo" class="sidebar__depth-2-link">시설 및 도구</a>
            </li>
            <li class="sidebar__depth-2-item" data-menu="price">
              <a href="/price" class="sidebar__depth-2-link">가격 정보</a>
            </li>
            <li class="sidebar__depth-2-item" data-menu="banner">
              <a href="/banner" class="sidebar__depth-2-link">배너 사진</a>
            </li>
            <li class="sidebar__depth-2-item" data-menu="setting">
              <a href="/setting" class="sidebar__depth-2-link">세팅 사진</a>
            </li>
            <li class="sidebar__depth-2-item" data-menu="level">
              <a href="/level" class="sidebar__depth-2-link">난이도 정보</a>
            </li>
          </ul>
        </li>
        <li class="sidebar__depth-1-item" data-menu="logout">
          <button class="sidebar__depth-1-btn" data-logout-btn>로그아웃</button>
        </li>
        <!-- <li class="sidebar__depth-1-item" data-toggle-menu="care">
          <button class="sidebar__depth-1-toggle-btn">고객 관리</button>
          <ul class="sidebar__depth-2-list">
            <li class="sidebar__depth-2-item" data-menu="review">
              <a href="#" class="sidebar__depth-2-link">후기 게시판</a>
            </li>
            <li class="sidebar__depth-2-item" data-menu="video">
              <a href="#" class="sidebar__depth-2-link">영상 게시판</a>
            </li>
          </ul>
        </li> -->
      </ul>
    </nav>
    <main class="main">
      <h1 class="visually-hidden">난이도 정보</h1>
      <article class="single-image-uploader" data-level-image-info>
        <h2 class="single-image-uploader__title">난이도 사진</h2>
        <div class="single-image-uploader__container">
          <label class="single-image-uploader__image-label">
            <input class="single-image-uploader__image-input" type="file" data-level-image-input />
            <figure class="single-image-uploader__figure">
              <img
                class="single-image-uploader__image"
                src="/assets/images/empty-picture.png"
                alt="난이도 사진"
                data-level-image
              />
            </figure>
          </label>
          <div class="single-image-uploader__btn-container" data-btn-container></div>
        </div>
      </article>
      <div class="level-info-container">
        <article class="level-info" data-level-info="bordering">
          <h2 class="level-info__title">볼더링 난이도</h2>
          <div class="level-info__add-level-container" data-add-container>
            <div class="level-info__level-color" data-color-picker></div>
            <input class="level-info__level-color-name-input" type="text" placeholder="색깔" data-color-name-input />
            <input class="level-info__level-name-input" type="text" placeholder="난이도 이름" data-level-name-input />
            <button class="level-info__add-level-btn" data-add-btn>
              <i class="fas fa-plus level-info__add-level-btn-icon"></i>
            </button>
          </div>
          <ul class="level-info__level-list" data-item-list></ul>
        </article>
        <article class="level-info" data-level-info="endurance">
          <h2 class="level-info__title">지구력 난이도</h2>
          <div class="level-info__add-level-container" data-add-container>
            <div class="level-info__level-color" data-color-picker></div>
            <input class="level-info__level-color-name-input" type="text" placeholder="색깔" data-color-name-input />
            <input class="level-info__level-name-input" type="text" placeholder="난이도 이름" data-level-name-input />
            <button class="level-info__add-level-btn" data-add-btn>
              <i class="fas fa-plus level-info__add-level-btn-icon"></i>
            </button>
          </div>
          <ul class="level-info__level-list" data-item-list></ul>
        </article>
      </div>
      <div class="notification" data-notification></div>
    </main>
  </body>
</html>
