<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Climb:Mate 관리자 - 가격 정보</title>
    <link rel="shortcut icon" href="assets/icon/logo/favicon.ico" type="image/ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  </head>
  <body>
    <header class="header" data-header>
      <div class="flex-start-container header__logo-container">
        <button class="header__menu-toggle-btn" data-sidebar-toggle-btn><i class="fas fa-bars"></i></button>
        <a href="#" class="header__logo">Climb:Mate 관리</a>
      </div>
      <button class="header__admin-menu-btn" data-admin-menu-btn>
        <span class="header__admin-name">사과 클라이밍</span
        ><i class="fas fa-chevron-left header__admin-menu-btn-icon"></i>
        <nav class="admin-navigation">
          <ul class="admin-navigation__list" data-admin-menu-list>
            <li class="admin-navigation__item" data-admin-menu="logOut">로그아웃</li>
          </ul>
        </nav>
      </button>
    </header>
    <nav class="sidebar" data-sidebar>
      <ul class="sidebar__depth-1-list" data-menu-list>
        <li class="sidebar__depth-1-item" data-menu="dashboard">
          <a href="#" class="sidebar__depth-1-link">대시보드</a>
        </li>
        <li class="sidebar__depth-1-item" data-toggle-menu="centerInfo">
          <button class="sidebar__depth-1-toggle-btn">센터 정보 관리</button>
          <ul class="sidebar__depth-2-list">
            <li class="sidebar__depth-2-item" data-menu="notice">
              <a href="/notice.html" class="sidebar__depth-2-link">공지사항</a>
            </li>
            <li class="sidebar__depth-2-item" data-menu="baseInfo">
              <a href="/baseInfo.html" class="sidebar__depth-2-link">기본 정보</a>
            </li>
            <li class="sidebar__depth-2-item" data-menu="detailInfo">
              <a href="/detailInfo.html" class="sidebar__depth-2-link">시설 및 도구</a>
            </li>
            <li class="sidebar__depth-2-item" data-menu="price">
              <a href="/price.html" class="sidebar__depth-2-link">가격 정보</a>
            </li>
            <li class="sidebar__depth-2-item" data-menu="banner">
              <a href="/banner.html" class="sidebar__depth-2-link">배너 사진</a>
            </li>
            <li class="sidebar__depth-2-item" data-menu="setting">
              <a href="/setting.html" class="sidebar__depth-2-link">세팅 사진</a>
            </li>
            <li class="sidebar__depth-2-item" data-menu="level">
              <a href="/level.html" class="sidebar__depth-2-link">난이도 정보</a>
            </li>
          </ul>
        </li>
        <li class="sidebar__depth-1-item" data-toggle-menu="care">
          <button class="sidebar__depth-1-toggle-btn">고객 관리</button>
          <ul class="sidebar__depth-2-list">
            <li class="sidebar__depth-2-item" data-menu="review">
              <a href="#" class="sidebar__depth-2-link">후기 게시판</a>
            </li>
            <li class="sidebar__depth-2-item" data-menu="video">
              <a href="#" class="sidebar__depth-2-link">영상 게시판</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <main class="main">
      <h1 class="visually-hidden">가격 정보</h1>
      <article class="single-image-uploader" data-price-image-info>
        <h2 class="single-image-uploader__title">가격표 이미지</h2>
        <div class="single-image-uploader__container">
          <label class="single-image-uploader__image-label">
            <input class="single-image-uploader__image-input" type="file" data-price-image-input />
            <figure class="single-image-uploader__figure">
              <img
                class="single-image-uploader__image"
                src="http://placehold.it/300x300"
                alt="가격표 이미지"
                data-price-image
              />
            </figure>
          </label>
          <div class="single-image-uploader__btn-container" data-btn-container>
            <!-- <button class="single-image-uploader__btn" data-btn="confirm">확인</button>
            <button class="single-image-uploader__btn" data-btn="cancel">취소</button>
            <button class="single-image-uploader__btn" data-btn="delete">삭제</button> -->
          </div>
        </div>
      </article>

      <article class="necessary-price-info" data-necessary-price-info>
        <h2 class="necessary-price-info__title">필수 상품 정보</h2>
        <ul class="necessary-price-info__price-list" data-price-list>
          <li class="necessary-price-item" data-item="one-day-pass">
            <h3 class="necessary-price-item__title">1일 이용권</h3>
            <div class="necessary-price-item__horizontal-line"></div>
            <div class="flex-start-container" data-price-container>
              <!-- <input class="necessary-price-item__price-input" type="text" placeholder="가격 입력" data-input /> -->
              <span class="necessary-price-item__price" data-price>20,000</span>
              <span class="necessary-price-item__won">원</span>
            </div>
            <div class="flex-start-container necessary-price-item__btn-container" data-btn-container>
              <button class="necessary-price-item__edit-btn" data-btn="edit">
                <i class="far fa-edit necessary-price-item__edit-btn-icon"></i>
              </button>
              <!-- <button class="necessary-price-item__confirm-btn" data-btn="confirm">
                <i class="far fa-check-square necessary-price-item__confirm-btn-icon"></i>
              </button>
              <button class="necessary-price-item__cancel-btn" data-btn="cancel">
                <i class="fas fa-redo necessary-price-item__cancel-btn-icon"></i>
              </button> -->
            </div>
          </li>
          <li class="necessary-price-item" data-item="one-day-class">
            <h3 class="necessary-price-item__title">1일 강습권</h3>
            <div class="necessary-price-item__horizontal-line"></div>
            <div class="flex-start-container" data-price-container>
              <!-- <input class="necessary-price-item__price-input" type="text" placeholder="가격 입력" /> -->
              <span class="necessary-price-item__price" data-price>50,000</span>
              <span class="necessary-price-item__won">원</span>
            </div>
            <div class="flex-start-container necessary-price-item__btn-container" data-btn-container>
              <button class="necessary-price-item__edit-btn" data-btn="edit">
                <i class="far fa-edit necessary-price-item__edit-btn-icon"></i>
              </button>
            </div>
          </li>
          <li class="necessary-price-item" data-item="one-day-class-plus-price">
            <h3 class="necessary-price-item__title">1일 강습권 + 암벽화 대여</h3>
            <div class="necessary-price-item__horizontal-line"></div>
            <div class="flex-start-container" data-price-container>
              <!-- <input class="necessary-price-item__price-input" type="text" placeholder="가격 입력" /> -->
              <span class="necessary-price-item__price" data-price>50,000</span>
              <span class="necessary-price-item__won">원</span>
            </div>
            <div class="flex-start-container necessary-price-item__btn-container" data-btn-container>
              <button class="necessary-price-item__edit-btn" data-btn="edit">
                <i class="far fa-edit necessary-price-item__edit-btn-icon"></i>
              </button>
            </div>
          </li>
          <li class="necessary-price-item" data-item="one-month-class">
            <h3 class="necessary-price-item__title">1개월 회원권</h3>
            <div class="necessary-price-item__horizontal-line"></div>
            <div class="flex-start-container" data-price-container>
              <!-- <input class="necessary-price-item__price-input" type="text" placeholder="가격 입력" /> -->
              <span class="necessary-price-item__price" data-price>50,000</span>
              <span class="necessary-price-item__won">원</span>
            </div>
            <div class="flex-start-container necessary-price-item__btn-container" data-btn-container>
              <button class="necessary-price-item__edit-btn" data-btn="edit">
                <i class="far fa-edit necessary-price-item__edit-btn-icon"></i>
              </button>
            </div>
          </li>
          <li class="necessary-price-item" data-item="three-month-class">
            <h3 class="necessary-price-item__title">3개월 회원권</h3>
            <div class="necessary-price-item__horizontal-line"></div>
            <div class="flex-start-container" data-price-container>
              <!-- <input class="necessary-price-item__price-input" type="text" placeholder="가격 입력" /> -->
              <span class="necessary-price-item__price" data-price>50,000</span>
              <span class="necessary-price-item__won">원</span>
            </div>
            <div class="flex-start-container necessary-price-item__btn-container" data-btn-container>
              <button class="necessary-price-item__edit-btn" data-btn="edit">
                <i class="far fa-edit necessary-price-item__edit-btn-icon"></i>
              </button>
            </div>
          </li>
        </ul>
      </article>

      <article class="extra-price-info">
        <h2 class="extra-price-info__title">추가 상품 정보</h2>
        <div class="extra-price-info__add-price-container">
          <input class="extra-price-info__price-name-input" type="text" placeholder="상품 이름" />
          <input class="extra-price-info__price-input" type="text" placeholder="상품 가격" />
          <button class="extra-price-info__add-price-btn">
            <i class="fas fa-plus extra-price-info__add-price-btn-icon"></i>
          </button>
        </div>
        <ul class="extra-price-info__price-list">
          <li class="extra-price-item">
            <!-- <h3 class="extra-price-item__title">추가 아이템 1</h3> -->
            <input class="extra-price-item__price-name-input" type="text" placeholder="상품 이름 입력" />
            <div class="extra-price-item__horizontal-line"></div>
            <div class="flex-start-container">
              <input class="extra-price-item__price-input" type="text" placeholder="가격 입력" />
              <!-- <span class="extra-price-item__price">50,000</span> -->
              <span class="extra-price-item__won">원</span>
            </div>
            <div class="flex-start-container extra-price-item__btn-container">
              <button class="extra-price-item__update-btn">
                <i class="far fa-edit extra-price-item__update-btn-icon"></i>
              </button>
              <button class="extra-price-item__delete-btn">
                <i class="fas fa-trash extra-price-item__delete-btn-icon"></i>
              </button>
            </div>
          </li>
          <li class="extra-price-item">
            <h3 class="extra-price-item__title">추가 아이템 2</h3>
            <div class="extra-price-item__horizontal-line"></div>
            <div class="flex-start-container">
              <!-- <input class="extra-price-item__price-input" type="text" placeholder="가격 입력" /> -->
              <span class="extra-price-item__price">100,000</span>
              <span class="extra-price-item__won">원</span>
            </div>
            <div class="flex-start-container extra-price-item__btn-container">
              <button class="extra-price-item__update-btn">
                <i class="far fa-edit extra-price-item__update-btn-icon"></i>
              </button>
              <button class="extra-price-item__delete-btn">
                <i class="fas fa-trash extra-price-item__delete-btn-icon"></i>
              </button>
            </div>
          </li>
          <li class="extra-price-item">
            <h3 class="extra-price-item__title">추가 아이템 3</h3>
            <div class="extra-price-item__horizontal-line"></div>
            <div class="flex-start-container">
              <!-- <input class="extra-price-item__price-input" type="text" placeholder="가격 입력" /> -->
              <span class="extra-price-item__price">70,000</span>
              <span class="extra-price-item__won">원</span>
            </div>
            <div class="flex-start-container extra-price-item__btn-container">
              <button class="extra-price-item__update-btn">
                <i class="far fa-edit extra-price-item__update-btn-icon"></i>
              </button>
              <button class="extra-price-item__delete-btn">
                <i class="fas fa-trash extra-price-item__delete-btn-icon"></i>
              </button>
            </div>
          </li>
          <li class="extra-price-item">
            <h3 class="extra-price-item__title">추가 아이템 4</h3>
            <div class="extra-price-item__horizontal-line"></div>
            <div class="flex-start-container">
              <!-- <input class="extra-price-item__price-input" type="text" placeholder="가격 입력" /> -->
              <span class="extra-price-item__price">120,000</span>
              <span class="extra-price-item__won">원</span>
            </div>
            <div class="flex-start-container extra-price-item__btn-container">
              <button class="extra-price-item__update-btn">
                <i class="far fa-edit extra-price-item__update-btn-icon"></i>
              </button>
              <button class="extra-price-item__delete-btn">
                <i class="fas fa-trash extra-price-item__delete-btn-icon"></i>
              </button>
            </div>
          </li>
          <li class="extra-price-item">
            <h3 class="extra-price-item__title">추가 아이템 5</h3>
            <div class="extra-price-item__horizontal-line"></div>
            <div class="flex-start-container">
              <!-- <input class="extra-price-item__price-input" type="text" placeholder="가격 입력" /> -->
              <span class="extra-price-item__price">160,000</span>
              <span class="extra-price-item__won">원</span>
            </div>
            <div class="flex-start-container extra-price-item__btn-container">
              <button class="extra-price-item__update-btn">
                <i class="far fa-edit extra-price-item__update-btn-icon"></i>
              </button>
              <button class="extra-price-item__delete-btn">
                <i class="fas fa-trash extra-price-item__delete-btn-icon"></i>
              </button>
            </div>
          </li>
          <li class="extra-price-item">
            <h3 class="extra-price-item__title">추가 아이템 6</h3>
            <div class="extra-price-item__horizontal-line"></div>
            <div class="flex-start-container">
              <!-- <input class="extra-price-item__price-input" type="text" placeholder="가격 입력" /> -->
              <span class="extra-price-item__price">200,000</span>
              <span class="extra-price-item__won">원</span>
            </div>
            <div class="flex-start-container extra-price-item__btn-container">
              <button class="extra-price-item__update-btn">
                <i class="far fa-edit extra-price-item__update-btn-icon"></i>
              </button>
              <button class="extra-price-item__delete-btn">
                <i class="fas fa-trash extra-price-item__delete-btn-icon"></i>
              </button>
            </div>
          </li>
          <li class="extra-price-item">
            <h3 class="extra-price-item__title">추가 아이템 7</h3>
            <div class="extra-price-item__horizontal-line"></div>
            <div class="flex-start-container">
              <!-- <input class="extra-price-item__price-input" type="text" placeholder="가격 입력" /> -->
              <span class="extra-price-item__price">250,000</span>
              <span class="extra-price-item__won">원</span>
            </div>
            <div class="flex-start-container extra-price-item__btn-container">
              <button class="extra-price-item__update-btn">
                <i class="far fa-edit extra-price-item__update-btn-icon"></i>
              </button>
              <button class="extra-price-item__delete-btn">
                <i class="fas fa-trash extra-price-item__delete-btn-icon"></i>
              </button>
            </div>
          </li>
        </ul>
      </article>

      <div class="notification" data-notification></div>
    </main>
  </body>
</html>
